<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="larc.ludicon" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Utils.UseParse"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.IntroActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlcEKCo_BjVBuya9kJ702WsiYsqI3diq4" />

        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.AskPreferences"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ask_preferences"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="larc.ludicon.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.AskRange"
            android:label="@string/title_activity_ask_range"
            android:parentActivityName=".Activities.AskPreferences" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="larc.ludicon.Activities.AskPreferences" />
        </activity>
        <activity
            android:name=".Activities.FriendsActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name=".Activities.CreateNewActivity"
            android:label="@string/title_activity_create_new"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="larc.ludicon.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activities.FriendsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="larc.ludicon.Activities.FriendsActivity" />
        </activity>
    </application>

</manifest>
