<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="larc.ludiconprod"
    android:versionCode="5"
    android:versionName="1.22" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- <permission -->
    <!-- android:name="larc.ludicon.permission.C2D_MESSAGE" -->
    <!-- android:protectionLevel="signature" /> -->


    <uses-permission android:name="larc.ludicon.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".Utils.UseParse"
        android:allowBackup="true"
        android:icon="@drawable/logo_shadow"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.IntroActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1486061805033157"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD991omwjLzWzfgpVTPayQ62d-2XbjphLA"/>
                    <!--"AIzaSyAlcEKCo_BjVBuya9kJ702WsiYsqI3diq4"/> -->
                    <!-- "AIzaSyDWlOprYmSxitza5Mz-p1Mc1cFhRheTpho" /> -->

        <!-- <service android:name="com.batch.android.BatchPushService" /> -->


        <!-- <receiver -->
        <!-- android:name="com.batch.android.BatchPushReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->


        <!-- <category android:name="larc.ludicon" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.AskPreferences"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.AskRange"
            android:screenOrientation="portrait"

           >
        </activity>
        <activity
            android:name=".Activities.FriendsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.CreateNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>

        <activity
            android:name=".Activities.GMapsFullActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name=".Services.FriendlyService"
            android:exported="false" />

        <activity
            android:name=".Activities.GeneralChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ChatTemplateActivity"
            android:label="@string/title_activity_chat_template"
            android:parentActivityName=".Activities.GeneralChatActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.GeneralChatActivity" />
        </activity>
        <activity
            android:name=".Activities.ChatListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Activities.StatisticsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".Activities.MainActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.EventDetails"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.RankingsNewActivity"
            android:label="@string/title_activity_rankings"
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.EditEventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".Activities.GroupChatTemplate"
            android:parentActivityName=".Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
    </application>

</manifest>
